*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    height: 100%; 
}
body{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #21a5da;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* align-content: stretch; */
    height: 100%;
    min-height: 100%;
}
header{
    background-color: #3eb1df;
    padding: 20px 0 15px;
    text-align: center;
    font-size: 13.06px;
    margin-bottom: 30px;
}
main{
    height: 100%; 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    text-align: center;
   /* min-height: 100%; */
}
.weather__now-text{
    font-size: 24px;
    font-weight: 300;
    padding: 0 20px;
}
.weather__now-block{
    width: 127px;
    background-color: #60bee5;
    box-shadow: 0 0 0 12px #50b8e2, 0 0 0 24px #3fb1df, 0 0 0 36px #30abdd;
    border-radius: 50%;
    margin: 60px auto 49px;
    padding: 19px;
} 
.weather__now-temp{
    font-size: 38px;
    font-weight: 300;   
    margin-bottom: 17px;
}
.weather__now-temp-grad{
    font-size: 112px;
}
.weather__now-temp-C{
    position: relative;
    top: -59px;
}
.weather__now-city{
    font-size: 19px;
    font-weight: 300;   
    margin-bottom: 116px;
}
.weather__other{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.weather__other>div{
    background-color: #3eb1df;
    width: 33.333333333333333%;
    padding-top: 24px;
    padding-bottom: 24px;
}
.weather__other .weather__other-img{
    width: 60px;
}
.weather__other .weather_date{
    font-weight: 600;
}
.weather__other .choice{
    background-color: #1c9dd1;
}